# apps/chat deployed URL
VITE_CHAT_URL=https://micro-frontend-chat-one.vercel.app

# Booked by Feelings MFE remote URLs
VITE_MFE_HOST_URL=https://dusunax-001.web.app
VITE_ARCHIVE_URL=https://archive-dusunax-001.web.app
VITE_AUTH_URL=https://auth-dusunax-001.web.app
